<div class="container-fluid">
    <div class="row rowcircle">
      <div class="col-4 circle"><img  class="casaperlamar" src="assets/Greta.JPG">
        <p class="letraperlamar">Desarrollo de mi portfolio aplicando <br> html, css, javascript, angular</p>
        <a routerLink="/experiencia">Ir al home</a> </div>
      <div class="col-4 circle"><img  class="casaperlamar" src="assets/casaperlamar.png">
      <p class="letraperlamar">Casa PerlaMar es un multiespacio <br> donde se dictan talleres,<br> cursos, estadia y más.
      </p>
      <a href="https://casaperlamar.netlify.app/">ir al proyecto</a>
      </div>
    </div>
</div>
