<div class="container-fluid">
    <div class="row rowcircle">
      <div class="col-4 circle"><div class="cajalogos1"><img class="minfoto" src="assets/min.png">
        <img class="intifoto" src="assets/inti.png"></div>
        <img  class="logoar " src="assets/argentina.png">
      <p class="año"> Full Stack Developer Jr</p>
      <p class="ubicacion">Estado: en curso</p> </div>
      <div class="col-4 circle"><img class="kitley" src="assets/sec.jpg">
      <p class="año">Técnico en Mecanica Industrial</p>
    <p class="titulob">IPEM Y T 352 Alfredo Cavalotti</p>
<p class="ubicacion">Estado: Completo</p></div>
      <div class="col-4 circle"><img class="lineartecimage" src="assets/unc.png">
      <p class="año">Diseño Industrial</p>
    <p class="Tituloa">FAUD-UNC</p> 
    <p class="ubicacion">Estado: Primer año completo</p></div> 
    </div>
</div>