<div class="container-fluid">
    <div class="row rowcircle">
      <div class="col-4 circle"><img class="yogaup" src="assets/yogaup.jpg">
      <p class="año">2022</p>
      <p class="Tituloa"> Ilustración y Diseño</p>
         <p class="titulob">de cartas y personajes
        para niños </p>
        <p class="nombretitle">YogaUp</p>
      <p class="ubicacion">Inglaterra, freelancer</p> </div>
      <div class="col-4 circle"><img class="kitley" src="assets/av.jpg">
      <p class="año">2019/2022</p>
    <p class="Tituloa">Producción y Diseño </p>
    <p class="titulob">Eventos, Fotografía, Gráficos,Filmación.</p>
    <p class="nombretitle">Revista Kitley</p>
  <p class="titulob">Especializada en kitesurfing</p>
<p class="ubicacion">Brasil, presencial.</p></div>
      <div class="col-4 circle"><img class="lineartecimage" src="assets/lineartec.png">
      <p class="año">2017/2018</p>
    <p class="Tituloa">Dibujo e interpretación</p>
     <p class="titulob">de planos de  Sistemas Lineales</p>
    <p class="nombretitle">Lineartec</p> 
    <p class="ubicacion">Unquillo, presencial.</p></div> 
    </div>
</div>