<div class="container-fluid">
    <div class="row barra">
        <div class="col-2 "><img class="argentinalogo" src="/assets/argentina.png">
            <img class="argentinalogoalt" src="/assets/logo.jpg">
        </div>
        <div class="col-2"><img class="yopr"src="assets/yoprogramo.png"></div>
        <div class="col"></div>
        <div class="col-2"><a href="https://www.linkedin.com/in/greta-combold-b54a69220/"><img class="lk" src="assets/lk.png"></a></div>
        <div class="col-2"><button class="login"><img class="loginuno" src="/assets/Loginword.png">
            <img class="loginalt" src="/assets/login.png"></button></div>


    </div>

</div>
