.argentinalogo{
    height: 40px;
    border-radius: 50px;
    margin: 10px;
}
.argentinalogoalt{
    display: none;
}
.loginalt{
    display: none;
}
.loginuno{
height: 40px;
}

.lk{
    height: 40px;
    margin: 10px;
}
.login{
    border: 1px solid #53730E;
    background-color: #53730E;
    border-radius: 10px;
    color: rgb(255, 253, 253);
    padding: 10px;
    margin: 10px;
}

.yopr{
height: 30px;
margin-top: 17px;
}

.barra{
    height: 60px;
}

@media (max-width: 991.98px) { 
    .login{
        font-size: 9px;
        padding: 8px;
        width:60px;
    }
    .loginuno{
        height: 30px;
        }
    
}
@media (max-width: 575.98px) { 

    .yopr{
        height: 20px;
        margin-top: 17px;
        }
        .argentinalogo{
            height: 40px;
            border-radius: 50px;
            margin: 10px;
            display: none;
        }
        .argentinalogoalt{
            height: 40px;
            width: 40px;
            display: block;
            border-radius: 50%;
            margin-top: 5px;
        }
        .loginalt{
            height: 30px;
            width: 30px;
            display: block;
            margin-top: 0px;
            margin: 0px;
        }
        .login{
            height: 40px;
            width: 40px;
            border: 1px solid #53730E;
            background-color: #53730E;
            border-radius: 10px;
            color: rgb(255, 253, 253);
            padding: 5px;
            margin-top: 10px;
            margin-right: 0px;
            margin-left: 0px;
        }
        .loginuno{
            display: none;
        }
        
} 