<div class="container-fluid">
    <div class="row rowcircle">
      <div class="col-4 circle"><img class="pc" src="assets/pc.png">
      <p class="Skill">Pensamiento Creativo</p>
         <p class="titulob">Capacidad para crear soluciones </p></div>
      <div class="col-4 circle"><img class="pc" src="assets/ds.png">
      <p class="Skill">Diseño Visual</p>
    <p class="titulob">Diseño de Identidad,Gráfico</p>
  </div>
      <div class="col-4 circle"><img class="pc" src="assets/FE.png">
      <p class="Skill">Front End/ Ui</p>
     <p class="titulob">Diseño de interfaz con Adobe Xd</p>
     <p class="titulob">HTML, CSS, Angular</p>
    </div>
</div>
