<div class="container-fluid">
    <div class="row rowcircle">
      <div class="col-4 circle"><img  class="ru" src="assets/RU.png">
        <p class="Title">Inglés</p>
       <p class="letra"> Estudie, se leer, escribir
         y hablar en este idioma. Practique conversación 
          cuando vivia en Brasil<br> y con clientes como freelancer.</p></div>
      <div class="col-4 circle"><img  class="ru" src="assets/brasil.png">
        <p class="Title">Portugués</p>
     <p class="letrabr">Vivi 7 meses
      en Jericoacoara, Brasil.
      <br> Aprendi el idioma por 
      inmersión.<br>Se escribir, leer y hablar</p>
      </div>
    </div>
</div>
