.caja{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: 2px solid chartreuse;
    background-color: #53730E;
    border-radius: 7px;
    margin: 10px;
    color: aliceblue;
    font-family: RamonaB;
}
.border:hover {
    background-color: #E3B42D;
    color: #BF0B1A;
 }

 @media (max-width: 575.98px) { 

    .caja{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
} 