
<div class="caja"><ul class="nav justify-content-center">
    <li class="nav-item">
    <a  class="nav-link border" routerLink="/experiencia">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border">Educación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" href="#">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" href="#">Software</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border">Idiomas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" routerLink="/proyectos">Proyectos</a>
    </li>
  </ul>
</div>