
<div class="caja"><ul class="nav justify-content-center">
    <li class="nav-item">
    <a  class="nav-link border" routerLink="/experiencia">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" routerLink="/educacion">Educación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" routerLink="/skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" routerLink="/proyectos">Software</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" routerLink="/idiomas">Idiomas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border" routerLink="/proyectos">Proyectos</a>
    </li>
  </ul>
</div>