.caja{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: 2px solid rgb(226, 255, 197);
    background-color: #53730E;
    border-radius: 7px;
    margin: 10px;
    color: aliceblue;
    font-family: RamonaB;
}
.border:hover {
    background-color: rgb(252, 2, 210);
 }