<div class="container-fluid">
    <div class="row rowcircle">
      <div class="col-4 circle">
        <p class="letraperlamar">Diseño</p>
        <div>
            <img  class="ps" src="assets/ps.png">
            <img  class="ai" src="assets/ai.png">
            <img  class="Id" src="assets/Id.png">
        </div>
    </div>
      <div class="col-4 circle">  <p class="letraperlamar"> Front End/Ui </p><div>
        <img  class="xd" src="assets/xd.png">
        <img  class="dw" src="assets/dw.png"></div>
      </div>
    </div>
</div>
